:root {
	--primary-color:#4c6973;
	--secondary-color:#514c73;
	--tertiary-color:#4c7356;
	--primary-color-not:#40798C;
    --secondary-color-not:#0B2027;
    --accent-color:#70A9A1;
    --accent-color2:#FCFCFC;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');

body{
	line-height: 1.6;
	letter-spacing: .05em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.header-content {
	background-color: var(--secondary-color) !important;
	color: var(--accent-color2) !important;
}

.IconButton{
	color: var(--accent-color2) !important; 
	display: inline-block;
}

.IconButtonDisabled{
	display: none;
}

.avatar{
}

.avatar-image{
	border-radius: 50%;
	width: 50%;
	margin: 0 25%;
}

.bigAvatar{
}

.divClass{
	background-color: blue;
}

.sidebar{
	height:100%;
	width:25%;
	position:fixed;
	z-index:1;
	overflow:auto;
	background-color: var(--primary-color);
	padding: 2% 0%;
}

.user-name, .user-points, .user-handle, .user-roles, .user-skills{
	color: var(--accent-color2);
	display: block;
	text-align: center;
}

.user-name{
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 500;
}

.user-points{
	display: inline-block;
	font-size: 1.2em;
}

.user-rating, .user-contact{
	display: block;
    text-align: center;
}

.star{
	width: 5%;
	margin-left: 2%;
}

.user-handle{
	display: inline-block;
}

.Chip{
	display: 'inline-block';
    justifyContent: 'center';
    flexWrap: 'wrap';
    padding: 5%;
    margin: 2%;
}

.chip-div{
	margin: 3%;
}

.user-roles, .user-skills{
	text-align: left;
	margin: 5%;
	text-transform: uppercase;
	margin-top: 7%;
	margin-bottom: 3%;
}